{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %} Sign Up {% endblock %}
{% block content %}
<div class="border rounded p-3 mb-3 bg-light">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 pb-3">Join Today
                <a href="{% provider_login_url 'google' %}" class="btn btn-danger float-right">Signup with Google</a>
        </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Sign Up
            </button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a href="{% url 'login' %}" class="ml-2 text-info">Sign In</a>
        </small>
    </div>
</div>
{% endblock %}